---
import Layout from "../layouts/Layout.astro";
import Mappa from "../components/Mappa.jsx";
import { getEscursioni } from "../data/escursioni.js";

const escursioni = await getEscursioni();
---

<Layout
  title="Mappa | Popi's Adventures"
  description="Mappa dedicata con tutte le escursioni del diario che hanno coordinate disponibili."
  active="mappa"
>
  <section>
    <Mappa client:load escursioni={escursioni} height="560px" />
  </section>
</Layout>

